.padre{
    background-image: url("Wave.svg");
    background-size: 100%;
    
} 
body{
    margin: 0em;
    padding: 0em;
    margin-top: 0em;
}
:root{
    --ao:#021921;
    --ac:rgb(22 125 190);
}
.panel{
    width: 100%;
    display: flex;
    margin-bottom: 0.625em;
    justify-content: space-evenly;
}
.img{
    width: 31.25em;
    margin: 1.25em;
    padding: 0.625em;
}
@media screen and (max-width: 600px){
    .img{
        width: 18.75em;
        margin: 1.25em;
        padding: 0.625em;
    }
    .h1{
        font-size: 1.25em;
    }
}
@media screen and (max-width: 25em){
    .img{
        width: 9.375em;
        margin: 0.625em;
        padding: 0.313em;
    }
    .h1{
        font-size: 0.625em;
    }
}
.h1{
    letter-spacing: 0.188em;
    font: size 1.875em;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin:0em;
    color: white;
    margin-bottom: 3.125em;
}