
.lista{
    display: flex;
    width: 100%;
    text-align: center;
    justify-items: center;
    padding: 0.313em;
    width: 9.375em;
    border-radius: 10px;
}

*{
    padding: 0em;
    box-sizing: border-box;
    margin: 0em;
    color: rgb(244, 234, 234);
}
p{
    font-family: Century Gothic;
} 
/*menu*/
.menu{
    padding: 0em ;
    margin: 0em;
    list-style: none;
}
.lista:hover{
    background: var(--ao);
}
.ListaMenu{ 
    display: flex ;
    justify-content: center;
    font-family: consolas;
}
.ListaMenu{
    background: var(--ac);
}
ul{
    margin-block-end: 0em;
    margin-block-start: 0em;
}
a{
    color: white;
}



/*about me*/
.contenedorF{
    margin: 0%;
}
.ini{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.25em;
    display: flex;
}
.contenedorF{
    display: block;
    width: 100%;
    height: 100%;
    padding: 0em;
}
.name{
    text-align: center;
    font-size: 1.25em;
    letter-spacing: 0.625em;
    margin-top: 1.875em;
    margin-bottom: 1.25em;
}
.tetx{
    display: block;
    margin: 9.375em;
    flex-basis: 60%;
}
.foto{
    display: flex;
    margin: 9.375em;
}
.imgper{
  width: 13.75em;
  height: 13.75em;
  object-fit: cover;
  animation: foto 3.5s linear infinite;
  display: flex;
  justify-content: flex-start;
}
@media (width <= 52.5em) {
  .ini{
    display: block;
    text-align: center;
  }
  .foto{
    display: flex;
    justify-content: center;
    margin: 0.313em;
  }
  .tetx{
    margin: 0.625em;
  }
}
.p{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5em
}
.pp{
    padding: 1.25em;
}
.ppp{
    margin-bottom: 0em;
    margin-top: 1.25em;
    color: var(--ac);
    font-size: 2em;
    font-family: Segoe Print;
}
.hr{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    border: 0.063em solid var(--ac);
}
/*skill*/
.p2{
    text-align: center;
    margin-bottom: 1.25em;
}
.skill{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.25em;
}
.skillsimg{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
.imgskill{
    width: 9.375em;
    margin-top: 1.875em;
    padding: 1em;
}
@media screen and (max-width:700px) {
.imgskill{
    width: 6.25em;
}       
}
@media screen and (max-width:400px) {
.imgskill{
    width: 3.125em;
}  
.name{
    text-align: center;
    font-size: 0.938em;
    letter-spacing: 0.313em;
    margin-top: 6.25em;
    margin-bottom: 1.25em;
}
.Foto{
    width: 9.375em;
    margin-bottom: 1.25em;
    border: 0.063em solid black;
}
.lista{
    font-size: 0.5em;
}
} 


/*contact*/
.contact{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
}

.bott{
    
    width: 200px;
    border: 0;
    background-image: linear-gradient(
        150deg,
        #9500ff,
        #09f,
        #00ddff
    );
    border-radius: 0.5em;
    color: #fff;
    display: flex;
    font-size: 1.25em;
    padding: 0.25em;
    cursor: pointer;
    transition: .3s;
}
.span{
    padding: 1em 1.5em;
    border-radius: 0.375em;
    transition: .3s;
}
.span:active{
    transform: scale(0.9);
}
.contenedorF{
    background: rgb(2 25 33);
    object-position: center;
    background-size: 100%;
}
.contenedorF{
    display: block;
    width: 100%;
    padding: 0.063em;
}
.padre {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  gap: 20px; 
  max-width: 1440px; 
}
.padre2 {
  display: flex;
  flex-direction: column;
  width: fit-content; 
}
.padre3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 28px;
}

@media (min-width: 768px) { 
  .padre3 {
    grid-template-columns: repeat(4, 1fr);
  }
}

.padre4 {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  width: 4rem;
  gap: 0.25rem; 
  font-size: 0.875rem; 
  color: #DFD9FF; 
}

@media (min-width: 768px) { 
  .padre4 {
    width: 6rem; 
  }
}
.padre5 {
  transition: transform 0.7s;
  max-width: 100%;
  height: auto;
}

.padre5:hover {
  transform: rotateY(-360deg); 
}



:root{
    --ao:#021921;
    --ac:rgb(22 125 190);
}

@keyframes foto {
  0%,
  100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
  }
  34% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}
.p1{
    margin-top: 2em;
}
.contact{
    margin-bottom: 20px;
}


@media screen and (min-width:37.5em) {
.menu{
    display: inline-block;
    padding: 0em;
    margin-top: 0em;
    width: 100%;
    height: 100%;

}
.lista{
    display: inline-block;
    font-size: 1.563em;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
}
}
@media  screen and (max-width:37.5em) {
    .menu{
    display: inline-block;
    padding: 0em;
    margin-top: 0em;
    width: 100%;
    height: 100%;
}
.lista{

    display: inline-block;
    font-size: 0.938em;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
}    
}  

.proyects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proyect-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
}

.proyect {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
    padding: 20px;
    box-sizing: border-box;
}

.ImgProyect {
    max-width: 100%;
    height: 250px;
    
}



.boton {
  display: flex; 
  margin: 5px; 
  padding: 5px 10px;
  border: none;
  background-color: rgb(22 125 190); 
  color: white; 
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px; 
}

.boton:hover {
  background-color: #0056b3;
}
.botones {
    display: flex;
    justify-content: center;
}
.icon{
    width: 30px;
    height: 30px;
}

