*{
    padding: 0em;
    margin: 0em;
    color: rgb(244, 234, 234);
}
p{
    font-family: Century Gothic;
} 
/*menu*/
.menu{
    width: 100%;
    height: 100%;
    padding: 0em ;
    margin: 0em;
}
.menu{
    padding: 0em;
    list-style: none;
}
.lista{
    display: flex;
    width: 100%;
    text-align: center;
    justify-items: center;
    margin: 0.313em;
    padding: 0.313em;
    width: 9.375em;
}
.lista:hover{
    background: var(--ao);
}
.ListaMenu{ 
    display: flex ;
    width: 100%;
    justify-content: center;
    font-family: consolas;
}
.ListaMenu{
    background: var(--ac);
}
ul{
    margin-block-end: 0em;
    margin-block-start: 0em;
}
a{
    color: white;
}
@media screen and (min-width:37.5em) {
.menu{
    display: inline-block;
    padding: 0em;
    margin-top: 0em;
    width: 100%;
    height: 100%;

}
.lista{
    display: inline-block;
    font-size: 1.563em;
    margin-right: 1.563em;
    margin-left: 1.563em;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
}
}
@media  screen and (max-width:37.5em) {
    .menu{
    display: inline-block;
    padding: 0em;
    margin-top: 0em;
    width: 100%;
    height: 100%;
}
.lista{

    display: inline-block;
    font-size: 0.938em;
    margin-right: 0.938em;
    margin-left: 0.938em;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
}    
}  
/*about me*/
.contenedorF{
    margin: 0%;
}
.ini{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.25em;
    display: flex;
}
.contenedorF{
    display: block;
    width: 100%;
    height: 100%;
    padding: 0em;
}
.name{
    text-align: center;
    font-size: 1.25em;
    letter-spacing: 0.625em;
    margin-top: 1.875em;
    margin-bottom: 1.25em;
}
.tetx{
    display: block;
    margin: 9.375em;
    flex-basis: 60%;
}
.foto{
    display: flex;
    margin: 9.375em;
}
.imgper{
  width: 13.75em;
  height: 13.75em;
  object-fit: cover;
  animation: foto 3.5s linear infinite;
  display: flex;
  justify-content: flex-start;
}
@media (width <= 52.5em) {
  .ini{
    display: block;
    margin: 0.313em;
    text-align: center;
  }
  .foto{
    display: flex;
    justify-content: center;
    margin: 0.313em;
  }
  .tetx{
    margin: 0.625em;
  }
}
.p{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5em
}
.pp{
    padding: 1.25em;
}
.ppp{
    margin-bottom: 0em;
    margin-top: 1.25em;
    color: var(--ac);
    font-size: 1.875em;
    font-family: Segoe Print;
}
.hr{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    border: 0.063em solid var(--ac);
}
/*skill*/
.p2{
    text-align: center;
    margin-bottom: 1.25em;
}
.skill{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.25em;
}
.skillsimg{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
.imgskill{
    width: 9.375em;
    margin-top: 1.875em;
    padding: 1em;
}
@media screen and (max-width:700px) {
.imgskill{
    width: 6.25em;
}       
}
@media screen and (max-width:400px) {
.imgskill{
    width: 3.125em;
}  
.name{
    text-align: center;
    font-size: 0.938em;
    letter-spacing: 0.313em;
    margin-top: 6.25em;
    margin-bottom: 1.25em;
}
.Foto{
    width: 9.375em;
    margin-bottom: 1.25em;
    border: 0.063em solid black;
}
.lista{
    font-size: 0.5em;
}
} 

/*proyectos*/
.proyects{ 
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.proyect{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    margin-top: 1.875em;
    margin-bottom: 1.875em;
}
.ImgProyect{
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}
/*contact*/
.contact{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
}
.boton{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    margin-top: 1.875em;
    margin-bottom: 1.875em;
}
.bott{
    width: 200px;
    border: 0;
    background-image: linear-gradient(
        150deg,
        #9500ff,
        #09f,
        #00ddff
    );
    border-radius: 0.5em;
    color: #fff;
    display: flex;
    font-size: 1.25em;
    padding: 0.25em;
    cursor: pointer;
    transition: .3s;
}
.span{
    padding: 1em 1.5em;
    border-radius: 0.375em;
    transition: .3s;
}
.span:active{
    transform: scale(0.9);
}
.contenedorF{
    background: rgb(2 25 33);
    object-position: center;
    background-size: 100%;
}
.contenedorF{
    display: block;
    width: 100%;
    padding: 0.063em;
}
:root{
    --ao:#021921;
    --ac:rgb(22 125 190);
}
.burbuja {
    background-image: initial;
    background: rgb(255, 255, 255);
}
::-webkit-scrollbar {
    background-color: #fff;
    color: #a29c91;
}
.burbuja{
    border-radius: 50%;
    background: #fff;
    opacity: .3;
    animation: burbujas 3s linear infinite ;
        position: absolute;
    bottom: -50;
}
.burbuja:nth-child(1){
    width: 1.875em;
    height: 1.875em;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2){
    width: 3.125em;
    height: 3.125em;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbuja:nth-child(3){
    width: 1.25em;
    height: 1.25em;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}

.burbuja:nth-child(4){
    width: 3.125em;
    height: 3.125em;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.burbuja:nth-child(5){
    width: 1.875em;
    height: 1.875em;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(6){
    width: 1.25em;
    height: 1.25em;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(7){
    width: 1.25em;
    height: 1.25em;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(8){
    width: 0.625em;
    height: 0.625em;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.burbuja:nth-child(9){
    width: 3.438em;
    height: 3.438em;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.burbuja:nth-child(10){
    width: 2.5em;
    height: 2.5em;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}


@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(1.875em);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(1.875em);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes foto {
  0%,
  100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
  }
  34% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}
.p1{
    margin-top: 6em;
}


